<h1 style="text-align: center;"> ¡Quienes Somos! </h1>


<div class="card-1" style="width: 20rem;">
  <img src="assets/IMAGENES/imagen.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">Bagheera</h4>
    <h6 ><p class="card-text">Hola!, soy Baghee, una perrita unica</p></h6>
    <a href="http://localhost:4200/Baghee " class="btn btn-primary btn-lg">Conocerme</a>
  </div>
</div>

<div class="card-2" style="width: 20rem;">
  <img src="assets/IMAGENES/imagen1.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">Baloo</h4>
    <h6 ><p class="card-text">Hola!, soy Baloo, un Cattle Dog!</p></h6>
    <a href="http://localhost:4200/Baloo " class="btn btn-primary btn-lg">Conocerme</a>
  </div>
</div>



